Repository MarkWells-Dev/Anneal: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, taplo, cargo-deny, updpkgsums, namcap

.pre-commit-config.yaml:

default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo
        name: taplo format
        entry: taplo format --check
        language: system
        types: [toml]
        pass_filenames: true

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      - id: cargo-test
        name: cargo nextest
        entry: cargo nextest run --all-features
        language: system
        pass_filenames: false
        stages: [pre-push]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml, markdown]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        args: ["-i", "4", "-ci"]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: updpkgsums
        name: Update PKGBUILD checksums
        entry: updpkgsums
        language: system
        files: PKGBUILD(-bin|-git)?$
        pass_filenames: true

      - id: namcap
        name: Lint PKGBUILDs
        entry: namcap
        language: system
        files: PKGBUILD(-bin|-git)?$
        pass_filenames: true

Consolidate pre-commit hooks into Arch Linux container
  .github/workflows/ci.yml
Due: none

Consolidate CI/CD into a single workflow and fix Arch container permissions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Fix Pre-commit dependency and deduplicate CI runs
  .github/workflows/ci.yml
Due: none

Add taplo to CI dependencies
  .github/workflows/ci.yml
Due: none

Bump version to 0.2.2 and use unique source filenames to prevent caching issues
  Cargo.lock
  Cargo.toml
  contrib/PKGBUILD
  contrib/PKGBUILD-bin
Due: taplo, cargo-deny, updpkgsums, namcap

fix(db): switch to DELETE journal mode to allow read-only access
  src/db.rs
Due: cargo-fmt, cargo-clippy

fix(tests): allow overriding DB path for integration tests
  .pre-commit-config.yaml
  src/db.rs
  src/main.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to 0.2.3
  Cargo.lock
  Cargo.toml
  contrib/PKGBUILD
  contrib/PKGBUILD-bin
Due: taplo, cargo-deny, updpkgsums, namcap

ci: install cargo-nextest in pre-commit job
  .github/workflows/ci.yml
Due: none

ci: refactor for robustness with artifacts and version verification
  .github/workflows/ci.yml
Due: none

fix(db): ensure robust read-only access with immutable=1
  src/db.rs
  tests/integration.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to 0.2.4
  Cargo.toml
  contrib/PKGBUILD
  contrib/PKGBUILD-bin
Due: taplo, cargo-deny, updpkgsums, namcap

chore: optimize pre-commit DX and CI manual stages
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.lock
  deny.toml
Due: taplo

fix(ci): correct cargo-deny key name in deny.toml
  deny.toml
Due: taplo

chore: bump version to 0.2.5 and document excluded triggers
  Cargo.toml
  contrib/PKGBUILD
  contrib/PKGBUILD-bin
  docs/CURATED_LIST.md
Due: taplo, cargo-deny, updpkgsums, namcap

fix(db): remove orphaned packages from queue after clearing trigger
  Cargo.lock
  Cargo.toml
  contrib/PKGBUILD
  contrib/PKGBUILD-bin
  src/db.rs
  src/triggers.rs
Due: cargo-fmt, cargo-clippy, taplo, cargo-deny, updpkgsums, namcap
